<ul class="track-list">
	<li class="track-list__item"
		ng-class="{'is-playing': isActive === item}"
		ng-repeat="item in items"
		ng-click="onClick({track: item})">
		<div class="row">
			<div class="large-1 columns">
				[[item.track_num]]
			</div>
			<div class="large-3 columns">
				[[item.title]]
			</div>
			<div class="large-3 columns">
				[[item.artist]]
			</div>
			<div class="large-3 columns">
				[[item.album]]
			</div>
			<div class="large-2 columns">
				`track duration`
			</div>
		</div>
	</li>
</ul>