<ul class="track-list">
	<li class="track-list__track"
		ng-class="{'is-playing': isPlaying === track, 'is-selected': isSelected === track}"
		ng-repeat="track in tracks"
		ng-click="onClick({track: track, album: album})"
		ng-dblclick="onDblClick({track: track, album: album})">
		<div class="grid">
			<div class="grid__item one-twelfth">
				[[track.track_num]]
			</div><!--
			--><div class="grid__item one-quarter">
				[[track.title]]
			</div><!--
			--><div class="grid__item one-quarter">
				[[track.artist]]
			</div><!--
			--><div class="grid__item one-quarter">
				[[track.album]]
			</div><!--
			--><div class="grid__item one-sixth">
				`track duration`
			</div>
		</div>
	</li>
</ul>
