<ul class="track-list">
	<li class="track-list__track"
		ng-class="{'is-playing': isPlaying === track, 'is-selected': isSelected === track}"
		ng-repeat="track in tracks"
		ng-click="onClick({track: track, album: album})"
		ng-dblclick="onDblClick({track: track, album: album})">
		<div class="row">
			<div class="large-1 columns">
				[[track.track_num]]
			</div>
			<div class="large-3 columns">
				[[track.title]]
			</div>
			<div class="large-3 columns">
				[[track.artist]]
			</div>
			<div class="large-3 columns">
				[[track.album]]
			</div>
			<div class="large-2 columns">
				`track duration`
			</div>
		</div>
	</li>
</ul>
