{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Media Browser</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{% static 'libs/mediaelement/build/mediaelementplayer.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body ng-app="musicPlayer" ng-controller="AppCtrl" ng-class="{'video-mode': videoMode}">

    <nav class="top-nav" data-topbar>
        <a class="top-nav__brand" href="/">The Desert Player</a>
    </nav>

    {% spaceless %}
    <div class="main" role="main">
        <div class="side-nav">
            <ul class="side-nav__list">
                <li class="side-nav__item" ng-class="{'is-active': isActive('/artists')}"><a href="#/artists">Artists</a></li>
                <li class="side-nav__item" ng-class="{'is-active': isActive('/albums')}"><a href="#/albums">Albums</a></li>
                <li class="side-nav__item" ng-class="{'is-active': isActive('/tracks')}"><a href="#/tracks">All tracks</a></li>
                <li class="side-nav__item" ng-class="{'is-active': isActive('/video')}"><a href="#/video">Video player</a></li>
            </ul>
            <div class="queue">
                <h2>Queue</h2>
                <ul>
                    <li ng-repeat="queuedTrack in queue">[[ queuedTrack.track_num ]] - [[ queuedTrack.title ]]</li>
                    <li ng-show="!queue.length">No tracks on queue</li>
                </ul>
            </div>
        </div>
        <div class="main-content">
            <ng-view></ng-view>
        </div>
    </div>
    {% endspaceless %}

    <footer class="footer">
        <player track="trackOnPlay" album="albumOnPlay" queue="queue"></player>
    </footer>

    {# Libs #}
    <script src="{% static 'libs/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'libs/angular/angular.js' %}"></script>

    <script src="{% static 'libs/mediaelement/build/mediaelement-and-player.js' %}"></script>
    <script src="{% static 'libs/angular-route/angular-route.js' %}"></script>
    <script src="{% static 'libs/angular-resource/angular-resource.js' %}"></script>
    <script src="{% static 'libs/angular-animate/angular-animate.js' %}"></script>
    <script src="{% static 'libs/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>

    <script src="{% static 'js/app.js' %}"></script>

    {# Services #}
    <script src="{% static 'js/services/audioService.js' %}"></script>
    <script src="{% static 'js/services/dialogService.js' %}"></script>

    {# Controllers #}
    <script src="{% static 'js/controllers/appCtrl.js' %}"></script>
    <script src="{% static 'js/controllers/albumsCtrl.js' %}"></script>
    <script src="{% static 'js/controllers/artistsCtrl.js' %}"></script>
    <script src="{% static 'js/controllers/homeCtrl.js' %}"></script>
    <script src="{% static 'js/controllers/singleAlbumCtrl.js' %}"></script>
    <script src="{% static 'js/controllers/singleArtistCtrl.js' %}"></script>
    <script src="{% static 'js/controllers/tracksCtrl.js' %}"></script>
    <script src="{% static 'js/controllers/videoCtrl.js' %}"></script>
    <script src="{% static 'js/controllers/videosCtrl.js' %}"></script>

    {# Directives #}
    <script src="{% static 'js/directives/grid.js' %}"></script>
    <script src="{% static 'js/directives/list.js' %}"></script>
    <script src="{% static 'js/directives/player.js' %}"></script>
    <script src="{% static 'js/directives/video-player.js' %}"></script>

</body>
</html>
