{% load staticfiles %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Media Browser</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" href="{% static 'libs/mediaelement/build/mediaelementplayer.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	{% block header_js %}{% endblock header_js %}
</head>
<body ng-app="musicPlayer" ng-controller="AppCtrl" ng-class="{'video-mode': videoMode}">

	<nav class="top-nav" data-topbar>
		<a class="top-nav__brand" href="/">The Desert Player</a>
	</nav>

	{% spaceless %}
	<div class="main" role="main">
		<div class="side-nav">
			<ul class="side-nav__list">
				<li class="side-nav__item" ng-class="{'is-active': isActive('/artists')}"><a href="#/artists">Artists</a></li>
				<li class="side-nav__item" ng-class="{'is-active': isActive('/albums')}"><a href="#/albums">Albums</a></li>
				<li class="side-nav__item" ng-class="{'is-active': isActive('/tracks')}"><a href="#/tracks">All tracks</a></li>
				<li class="side-nav__item" ng-class="{'is-active': isActive('/video')}"><a href="#/video">Video player</a></li>
			</ul>
			<div class="queue">
				<h2>Queue</h2>
				<ul>
					<li ng-repeat="queuedTrack in queue">[[ queuedTrack.track_num ]] - [[ queuedTrack.title ]]</li>
					<li ng-show="!queue.length">No tracks on queue</li>
				</ul>
			</div>
		</div>
		<div class="main-content">
			<ng-view></ng-view>
		</div>
	</div>
	{% endspaceless %}

	<footer class="footer">
		<player track="trackOnPlay" album="albumOnPlay" queue="queue"></player>
	</footer>

	<script src="{% static 'libs/angular/angular.js' %}"></script>
	<script src="{% static 'libs/angular-route/angular-route.js' %}"></script>
	<script src="{% static 'libs/angular-resource/angular-resource.js' %}"></script>

	<script src="{% static 'js/app.js' %}"></script>
	<script src="{% static 'js/controllers.js' %}"></script>
	<script src="{% static 'js/directives.js' %}"></script>
	<script src="{% static 'js/services.js' %}"></script>

	<script src="{% static 'libs/jquery/dist/jquery.js' %}"></script>
	<script src="{% static 'libs/mediaelement/build/mediaelement-and-player.js' %}"></script>
</body>
</html>
