{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Media Browser</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<link rel="stylesheet" href="{% static 'vendor/videojs/video-js.min.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		{% block header_js %}{% endblock header_js %}
	</head>
	<body>
		<!--[if lt IE 10]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<header id="header" class="header is-open">
			<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{% url 'web:home' %}">Media Browser</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="{% ifequal url 'page' %}active{% endifequal %}">
								<a href="{% url 'web:video_list' %}">Videos</a>
							</li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</header>

		<div id="main" class="container" role="main">{% block content %}{% endblock content %}</div>

		<footer class="footer"></footer>

		<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
		<script src="{% static 'vendor/sass-bootstrap/dist/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'vendor/videojs/video.dev.js' %}"></script>
	</body>
</html>
