{% extends "web/base.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-4">
			<h1>Video</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="well">
				<video id="video" class="video-js vjs-default-skin" controls preload="none"
					   data-setup="{}" width="900" height="460">
					<source src="{{ MEDIA_URL }}{{ video.path }}/{{ video.title }}" type="video/mp4">
			  </video>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well">
				<p>{{ video.path }} > {{ video.title }}</p>
			</div>
		</div>
	</div>
{% endblock content %}