{% load staticfiles %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Media Browser</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	{% block header_js %}{% endblock header_js %}
</head>
<body ng-app="musicPlayer" ng-controller="AppCtrl">

	<nav class="top-bar" data-topbar>
		<ul class="title-area">
			<li class="name">
				<h1><a href="/">Music player</a></h1>
			</li>
		</ul>
	</nav>

	<div class="main" role="main">
		<div class="row">
			<div class="large-2 panel columns">
				<ul class="side-nav">
					<li ng-class="{active:isActive('/artists')}"><a href="#/artists">Artists</a></li>
					<li ng-class="{active:isActive('/albums')}"><a href="#/albums">Albums</a></li>
					<li ng-class="{active:isActive('/tracks')}"><a href="#/tracks">All tracks</a></li>
				</ul>
			</div>
			<div class="large-10 columns">
				<ng-view></ng-view>
			</div>
		</div>
	</div>

	<script src="{% static 'libs/angular/angular.js' %}"></script>
	<script src="{% static 'libs/angular-route/angular-route.js' %}"></script>
	<script src="{% static 'libs/angular-resource/angular-resource.js' %}"></script>

	<script src="{% static 'js/app.js' %}"></script>
	<script src="{% static 'js/controllers.js' %}"></script>
	<script src="{% static 'js/directives.js' %}"></script>
	<script src="{% static 'js/services.js' %}"></script>
</body>
</html>
