.main {
	margin-top: 20px;

}

.row {
	max-width: none;
	padding: 0 20px;
}

.center-align-wrp {
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		margin-right: -0.25em;
		vertical-align: middle;
	}
}

.center-align {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.grid-list {
	@extend .row;
	list-style: none;
	margin: 0;
	padding: 0;
}

.grid-list__item {
	@extend .large-3;
	@extend .medium-4;
	@extend .small-6;
	@extend .columns;

	> div {
		height: 140px;
	}
}

.grid-list__item-title {
	display: block;
	font-size: 18px;
	text-align: center;
}

.track-list {
	list-style: none;
	margin: 0;
}

.track-list__item {
	cursor: pointer;
	display: block;
	line-height: 36px;

	&.is-playing,
	&:hover {
		background-color: #f2f2f2;
	}
}
