.main {
	margin-top: 20px;
}

.row {
	max-width: 80rem;
}

.track-list {
	list-style: none;
	margin: 0;
}

.track-list__item {
	cursor: pointer;
	display: block;
	line-height: 36px;

	&.is-playing,
	&:hover {
		background-color: #f2f2f2;
	}
}