@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/lato-regular.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/lato-bold.woff) format('woff');
}
