.grid-list {
	@extend .grid;
	list-style: none;
}

.grid-list__item-wrp {
	@extend .grid__item;
	@extend .desk--one-fifth;
	@extend .one-third;
	@extend .palm--one-whole;

	margin-bottom: 20px;
}

.grid-list__item {
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0px 1px 2px #AAA;
	height: 140px;

	&:hover {
		color: #1caaaf;
		cursor: pointer;
	}
}

.grid-list__item-title {
	display: block;
	font-size: 18px;
	text-align: center;
}