.track-list {
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.track-list__track {
	cursor: pointer;
	display: block;
	padding: 10px $gutter;

	&.is-selected,
	&:hover {
		background-color: #f2f2f2;
	}

	&.is-playing {
		background-color: #f5f5da;
	}
}
